# ---------- shared ----------
COMPOSE_PROJECT_NAME=docvault

# ---------- postgres ----------
POSTGRES_DB=docvault_metadata
POSTGRES_USER=docvault
POSTGRES_PASSWORD=docvaultpw
POSTGRES_PORT=5432

# ---------- mongo (optional audit) ----------
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=rootpw
MONGO_PORT=27017

# ---------- keycloak ----------
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=adminpw
KEYCLOAK_PORT=8080

# ---------- minio ----------
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadminpw
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET=docvault

# ---------- mongo-express ----------
MONGO_EXPRESS_USER=mongoadmin
MONGO_EXPRESS_PASSWORD=mongoadminpw
MONGO_EXPRESS_PORT=8081
